// Base Nav styles
.Mast {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  background: rgba(255,255,255, 0.95);
  top: 0;
  right: 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);

}

.Mast-Header {
  @include column(3);
}

.Mast-Header-Logo {
  @include setType(3);
  margin: 0;
  padding: emRhythm(1.9);
  text-transform: uppercase;
}

/* MAST NAV */
.Mast-Nav {
  @include column(3);
  @include push(6);
}

.Mast-Nav--default {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  @include setType(4, $ms-down1);
  
  a {
    display: block;
    padding: emRhythm(1.9);

    &:hover {
      background-color: #222;
      color: #fff;
      border-radius: 4px;
    }
  }
}

// Non drawer menu
.Mast-Nav-Drawer {
  &.is-desktop {
    display: block;
    ul li {
      float: right;
      margin: 0 emRhythm(1.9);
    }
  }
}

// Drawer menu
.Mast-Nav-Drawer {
  &.is-mobile {
    display: none;
    visibility: hidden;

    ul li {
      padding: emRhythm(1) emRhythm(5);
    }

    // Fix for bigSlide: https://github.com/ascott1/bigSlide.js/tree/master
    // Slide panel
    .Mast-Nav-Drawer-Panel {
      position: fixed;
      right: -15.625em;
      width: 15.625em;
      z-index: 9999;
      background: #fff;
      border-left: 1px solid #ccc;
    }
  }
}


// Smartphones (portrait and landscape)
// Desktop less then 768px
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px),
(min-width : 320px) and (max-width : 768px) {

  .Mast-Header {
    @include column(9);
  }

  .Mast-Nav {
    @include column(3);
  }

  .Mast-Nav-Drawer {
    &.is-mobile {
      display: block;
      visibility: visible;
      
      .menu-icon {
        text-align: right;
        padding: 0 emRhythm(1.2) 0 0;
        margin: emRhythm(1.5);
      }
    }
    &.is-desktop {
      display: none;
    }
  }
}


// iPads (portrait and landscape)
// Desktop from 768px to 1024px
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px),
(min-width : 768px) and(max-width : 1024px) {
  .Mast-Header {
    @include column(6);
  } 

  .Mast-Nav {
    @include column(3);
    @include push(3);
  }
}