.Post {
  margin-top: emRhythm(20);

  .Post-Header {
    text-align: center;
    margin-bottom: emRhythm(8); 
  }

  p, pre, iframe {
    & + h1 {
      margin-top: emRhythm(1);
    }
    & + h2 {
      margin-top: emRhythm(3);
    }
    & + h3, & + h4, & + h5 {
      margin-top: emRhythm(5);
    }
  }
  // h1, .h1 {
  //   margin-bottom: emRhythm(4, $ms-up2);
  //   @include setType(6, $ms-up2);
  // }

  // h2, .h2 {
  //   margin-bottom: emRhythm(4, $ms-up1);
  //   @include setType(5, $ms-up1);
  // }

  // h3, .h3 {
  //   margin-bottom: emRhythm(4, $ms-up1);
  //   @include setType(5, $ms-up1);
  // }

  // h4, .h4 {
  //   margin-bottom: emRhythm(4, $ms-up1);
  //   @include setType(5, $ms-up1);
  // }

  // h5, .h5,
  // h6, .h6 {
  //   margin-bottom: emRhythm(4);
  //   @include setType(4);
  // }


  .tweetblock {
    margin-top: emRhythm(4);
    margin-bottom: emRhythm(4);
  }

  figure {
    margin: 0;
    margin-bottom: emRhythm(3);
  }

  figcaption {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
    @include setType(6, $ms-down1);
  }

  blockquote {
    font-family: $font-serif;
    margin: emRhythm(8);
    border-left: 5px solid #23A38F;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    // border-left: 3px solid rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    margin-left: -23px;
  }

  pre {
    @include setType(3, $ms-down1);
    margin-top: 0;
    word-wrap: break-word;
    margin-bottom: emRhythm(4);
    max-height: emRhythm(100);
    overflow-y: auto;
    border-radius: 3px;
    code {
      padding: emRhythm(3);
    }
  }

  img {
    width: 100%;
  }

  .Author {
    .u-subHeader {
      line-height: 1em;
      margin-bottom: emRhythm(4);
    }
  }
  .Author-image {
    @include column(2);
    div {
      display: block;
      width: 80px;
      height: 80px;
      background-size: cover;
      border-radius: 100%;
      text-indent: -9999px;
    }
  }

  .Author-Meta {
    @include column(10);
  }
  .Author-Meta-heading {
    @include setType(4);
  }
  .Author-Meta-bio {
    @include setType(3, $ms-down1);
  }
}

.Post-Embedded-content {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto;
  
  embed, iframe, object {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
}

// // Smartphones (portrait and landscape)
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px),
(min-width : 320px) and (max-width : 768px) {
  .Bottom {
    .left {
      @include column(12);
    }
    .right {
      @include column(12);
    }
  }
}