.Mast
  header.Mast-Header
    h1.Mast-Header-Logo
      a(href='/') Micheal Benedict

  // nav.Mast-Nav
  //   .Mast-Nav-Drawer.is-desktop
  //     ul.u-noList.Mast-Nav--default(role="navigation")
  //       li
  //         a(href='/') Posts
  //       li
  //         a(href='/') About

  //   .Mast-Nav-Drawer.is-mobile
  //     .menu-icon
  //       a(href="#menu" class="menu-link") &#9776;

  //     .Mast-Nav-Drawer-Panel(id="menu" role="navigation")
  //       ul.u-noList.Mast-Nav--default
  //         li
  //           a(href='/') Posts
  //         li
  //           a(href='/') About