{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

.Main
  header.Main-Header
    h1.Main-Header-title{{@blog.title}}
    h5.Main-Header-description{{@blog.description}}

.u-container
  hr
  .Posts
    {{#foreach posts}}
    article.Posts-Article(class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article")
      h1.u-primaryHeader.u-primaryHeader--for-index
        a(href="{{url}}"){{{title}}}
      time.u-subHeader(datetime="{{date format='YYYY-MM-DD'}}"){{date format="DD MMMM YYYY"}}
    {{/foreach}}